/GLA-Auction/nbproject/private/
/GLA-Auction/GLA-Auction-war/nbproject/private/
/GLA-Auction/GLA-Auction-ejb/nbproject/private/
/GLA-Auction/GLA-Auction-war/build/
/GLA-Auction/GLA-Auction-ejb/build/
/GLA-Auction/GLA-Auction-ejb/dist/
/GLA-Auction/GLA-Auction-war/dist/
/GLA-Auction/build/